<div id='star_form_<%= micropost.id %>'>
  <% if favorites.empty? %>
    <%= render partial: 'microposts/star', locals: { micropost: micropost } %>
  <% else %>
    <%= render partial: 'microposts/unstar', locals: { favorite: favorites.first } %>
  <% end %>
</div>
