<div id='star_form_<%= micropost.id %>'>
  <% if micropost.star?(current_user) %>
    <%= render partial: 'microposts/unstar', locals: { micropost: micropost } %>
  <% else %>
    <%= render partial: 'microposts/star', locals: { micropost: micropost } %>
  <% end %>
</div>
